#fractalCanvas {
  padding: 10px;
  margin: 0;
  width: 70vw;
  height: 60vh;
  background: black;
  display: flex;
  float: left;
  margin-left: 10vw;
  margin-top: 5vh !important;
  box-shadow: black 10px 10px 15px;
}

#customRange {
  margin: auto;
  margin-top: 10vh;
  margin-left: 17vw;
  width: 50vw;
}

#customVertRange {
  float: right;
  width: 60vw;
  transform: rotate(270deg);
}

#canvasRow {
  display: flex;
}