#resetTreeButton {
    margin-left: 4vw;
}

#customRange {
    margin-top: 0 !important;
    margin-left: 2vw !important;
    padding: 0 !important;
    width: 40vw !important;
    margin-right: 0 !important;
}

#classNametreeManipulators {
    display: flex;
}

#tree-length-name {
    margin-left: 14vw;
}

#customVertRange {
    transform: rotate(270deg);
    width: 15vw;
    margin-top: 25vh;
}  

#angle-slider {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#angle-name {
    margin-left: 12vh;
}